.navbar {
    background-color: #000428; }
    .navbar .container .navbar-brand {
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .navbar .container ul div {
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .navbar .container ul .a-1 {
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
  